In [2]:
import pandas as pd

# Create a DataFrame
data = {
    'Name':['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 17, 22, 32],
    'Score': [85, 92, 88, 70]
}

# Convert the dictionary to a DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

# Display the first 5 rows using head()
# Display the first 5 rows of the DataFrame
print(df.head())

# Display the last rows using tail().
# Display the last 5 rows of the DataFrame
print(df.tail())

# Get a summary of the DataFrame (data types, non-null counts, memory usage)
print(df.info())

# Get descriptive statistics of the DataFrame (like count, mean, std, min, max, etc.)
print(df.describe())

# Selecting specific columns and rows
# a) Selecting specific columns.
# Select specific columns (Name and Score)
selected_columns = df[['Name', 'Score']]
print(selected_columns)

# b) Selecting specific rows using iloc[] (integer-location based indexing).
# Select rows using iloc (rows 0 to 2)
selected_rows_iloc = df.iloc[0:3] # Note: Python is zero-indexed
print(selected_rows_iloc)

# Selecting specific rows and columns using loc[] (label-based indexing)
# Select rows with age > 25 and only display Name and Score columns
selected_rows_loc = df.loc[df['Age'] > 25, ['Name', 'Score']]
print(selected_rows_loc)
# Basic Operations
# Calculate mean of 'Age'
mean_age = df['Age'].mean()
print("Mean Age:", mean_age)

# Filter rows where Score is greater than 80
high_scores = df[df['Score'] > 80]
print("High Scorers:\n", high_scores)

      Name  Age  Score
0    Alice   24     85
1      Bob   17     92
2  Charlie   22     88
3    David   32     70
      Name  Age  Score
0    Alice   24     85
1      Bob   17     92
2  Charlie   22     88
3    David   32     70
      Name  Age  Score
0    Alice   24     85
1      Bob   17     92
2  Charlie   22     88
3    David   32     70
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Score   4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes
None
             Age      Score
count   4.000000   4.000000
mean   23.750000  83.750000
std     6.238322   9.604686
min    17.000000  70.000000
25%    20.750000  81.250000
50%    23.000000  86.500000
75%    26.000000  89.000000
max    32.000000  92.000000
      Name  Score
0    Alice     85
1      Bob     92
2  Charlie     88
3    David     70
      Name  Age  Score
0    Alice   24     85
1      Bob   17     92
2  Charlie   22     88
    Name  Score
3  David     70
Mean Age: 23.75
High Scorers:
       Name  Age  Score
0    Alice   24     85
1      Bob   17     92
2  Charlie   22     88

Exercises:
Load data: Load a simple CSV file (like example.csv) into a DataFrame.
Create a DataFrame manually using a dictionary.
View data:
Display the first 5 rows (head()).
Display the last 5 rows (tail()).
Get a summary of the data (info(), describe()).
Select specific columns and rows (e.g., using iloc[], loc[]).