In [ ]:
q1 :
ineruon
ineruon ineruon
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 -

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values
q7 : Try to give summation of all the numeric data
q8 : Try to filter out all the odd values out all numeric data which is a part of a list
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset
q15 : Try to unwrape all the collection inside collection and create a flat list


before 29th may 2022 3 PM IST you have to send an answer to me or to shivan
sudhanshu@ineuron.ai
shivan@ineuron.ai

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

In [ ]:
# Data
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [ ]:
'''q1 :
ineruon
ineruon ineruon
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon'''

In [ ]:
"""q2 -

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon"""

In [ ]:
# q3 : Try to extract all the list entity

for item in l:
    print(item, end = ', ')

[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, ['ineuron', 'data science '],

In [ ]:
# q4 : Try to extract all the dict enteties

extract_dict_entities = []
for item in l:
    if isinstance(item, dict):
        extract_dict_entities.append(item)
print(extract_dict_entities)

[{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}]

In [ ]:
# q5 : Try to extract all the tuples entities

extract_tuple_entities = []

for item in l:
    if isinstance(item, tuple):
        extract_tuple_entities.append(item)
print(extract_tuple_entities)

[(2, 3, 4, 5, 6), (3, 4, 5, 6, 7)]

In [ ]:
# q6 : Try to extract all the numerical data it may b a part of dict key and values

extracted_numeric_data = []

for item in l:
    if isinstance(item, (list, tuple, set)): # Check for lists, tuples, sets
        for element in item:
            if isinstance(element, int):
                extracted_numeric_data.append(element)
    elif isinstance(item, dict): # Check for dictionaries
        for key, value in item.items():
                if isinstance(key, int):
                    extracted_numeric_data.append(key)
                if isinstance(value, int):
                    extracted_numeric_data.append(value)
print(f'Extracted numeric data from the lists: {extracted_numeric_data}')

Extracted numeric data from the lists: [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [ ]:
# q7 : Try to give summation of all the numeric data

total_sum = 0

for item in l:
    if isinstance(item, (list, tuple, set)): # Check for lists, tuples, sets
        for element in item:
            if isinstance(element, int):
                total_sum += element
    elif isinstance(item, dict): # Check for dictionaries
        for key, value in item.items():
                if isinstance(key, int):
                    total_sum += key
                if isinstance(value, int):
                    total_sum += value
print(f'Summation of all the numeric data: {total_sum}')

Summation of all the numeric data: 156

In [ ]:
# q8 : Try to filter out all the odd values out all numeric data which is a part of a list

odd_values = []

for item in l:
    if isinstance(item, (list, tuple, set)): # Check for lists, tuples, sets
        for element in item:
            if isinstance(element, int) and element %2 != 0:
                odd_values.append(element)
    elif isinstance(item, dict): # Check for dictionaries
        for key, value in item.items():
                if isinstance(key, int) and key%2 != 0:
                    odd_values.append(key)
                if isinstance(value, int) and value%2 != 0:
                    odd_values.append(value)
print(f'odd values out all numeric data which is a part of a list: {odd_values}')

odd values out all numeric data which is a part of a list: [1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

In [ ]:
# q9 : Try to extract "ineruon" out of this data

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

extracted_ineuron = []

for item in l:
    if isinstance(item, (list, tuple, set)): # Check for lists, tuples, sets
        if 'ineuron' in item:
            extracted_ineuron.append('ineuron')
    elif isinstance(item, dict): # Check for dictionaries
        if 'ineuron' in item.keys():
            extracted_ineuron.append('ineuron')
        if 'ineuron' in item.values():
            extracted_ineuron.append('ineuron')
print(f'Extracted ineuron from the lists: {extracted_ineuron}')

Extracted ineuron from the lists: ['ineuron', 'ineuron']

In [ ]:
# q10 :Try to find out a number of occurances of all the data

l = [[1,2,3,4],
     (2,3,4,5,6),
     (3,4,5,6,7),
     set([23,4,5,45]),
     {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
     ["ineuron", "data science "]]

occurrences = {}

for item in l:
    if isinstance(item, (list, tuple, set)):
        for sub_item in item:
            if sub_item in occurrences:
                occurrences[sub_item] += 1
            else:
                occurrences[sub_item] = 1
    elif isinstance(item, dict):
        for key, value in item.items():
            # Counting keys
            if key in occurrences:
                occurrences[key] += 1
            else:
                occurrences[key] = 1

            # Counting values
            if value in occurrences:
                occurrences[value] += 1
            else:
                occurrences[value] = 1
print(occurrences)

{1: 1, 2: 2, 3: 4, 4: 4, 5: 3, 6: 3, 7: 2, 45: 1, 23: 1, 'k1': 1, 'sudh': 1, 'k2': 1, 'ineuron': 2, 'k3': 1, 'kumar': 1, 8: 1, 'data science ': 1}

In [ ]:
# List containing various data structures
l = [
    [1, 2, 3, 4],
    (2, 3, 4, 5, 6),
    (3, 4, 5, 6, 7),
    set([23, 4, 5, 45]),
    {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
    ["ineuron", "data science "]
]

# Dictionary to store the count of each element
occurrences = {}

# Function to process each element in the nested structures
def process_element(element):
    if isinstance(element, (list, tuple, set)):
        for item in element:
            occurrences[item] = occurrences.get(item, 0) + 1
    elif isinstance(element, dict):
        for key, value in element.items():
            occurrences[key] = occurrences.get(key, 0) + 1
            occurrences[value] = occurrences.get(value, 0) + 1
    else:
        occurrences[element] = occurrences.get(element, 0) + 1

# Iterating over the main list l
for item in l:
    process_element(item)

# Output the occurrences
print(occurrences)

{1: 1, 2: 2, 3: 4, 4: 4, 5: 3, 6: 3, 7: 2, 45: 1, 23: 1, 'k1': 1, 'sudh': 1, 'k2': 1, 'ineuron': 2, 'k3': 1, 'kumar': 1, 8: 1, 'data science ': 1}

In [ ]:
# q11 : Try to find out number of keys in dict element