SQL (MySQL)
1. Guided Project: Library Management System
This project will focus on managing a library's books and their borrowers. It will involve creating tables, performing CRUD operations, and using SQL queries effectively.

Requirements:
Database: library_db
Tables:
books: Stores book details.
borrowers: Stores information about people borrowing books.
transactions: Tracks who borrowed which book and when.
Schema Design:
books:

id (Primary Key, INT, AUTO_INCREMENT)
title (VARCHAR)
author (VARCHAR)
available (BOOLEAN)
borrowers:

id (Primary Key, INT, AUTO_INCREMENT)
name (VARCHAR)
contact (VARCHAR)
transactions:

id (Primary Key, INT, AUTO_INCREMENT)
borrower_id (Foreign Key, references borrowers.id)
book_id (Foreign Key, references books.id)
borrow_date (DATE)
return_date (DATE)
Steps:
Setup: Create the database and tables.
Insert Data: Add sample books and borrowers.
Operations:
Query all available books.
Borrow a book (update availability and add a transaction).
Return a book (update availability and add return date).

In [ ]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 73.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp310-cp310-linux_x86_64.whl size=247948 sha256=f38067cea1ce7f961675b4d0980693ae47b660eacb50270841de3560d9d7aa9c
  Stored in directory: /root/.cache/pip/wheels/76/48/9b/da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [ ]:
import mysql.connector
from datetime import date

# Connect to MySQL
conn = mysql.connector.connect(host='localhost', user='root', password='*M076@MySQL')
cursor = conn.cursor()

try:
    # 1. Create database and use it
    cursor.execute("CREATE DATABASE IF NOT EXISTS library_db")
    cursor.execute("USE library_db")

    # 2. Create tables
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        id INT AUTO_INCREMENT PRIMARY KEY,
        title VARCHAR(255),
        author VARCHAR(255),
        available BOOLEAN DEFAULT TRUE
    )
    ''')

    cursor.execute('''
    CREATE TABLE IF NOT EXISTS borrowers (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255),
        contact VARCHAR(50)
    )
    ''')

    cursor.execute('''
    CREATE TABLE IF NOT EXISTS transactions (
        id INT AUTO_INCREMENT PRIMARY KEY,
        borrower_id INT,
        book_id INT,
        borrow_date DATE,
        return_date DATE,
        FOREIGN KEY (borrower_id) REFERENCES borrowers(id),
        FOREIGN KEY (book_id) REFERENCES books(id)
    )
    ''')

    # 3. Insert sample data (check for duplicates)
    cursor.execute("INSERT INTO books (id, title, author) VALUES (%s, %s, %s) ON DUPLICATE KEY UPDATE title = VALUES(title)",
                   (1, 'Book A', 'Author A'))
    cursor.execute("INSERT INTO books (id, title, author) VALUES (%s, %s, %s) ON DUPLICATE KEY UPDATE title = VALUES(title)",
                   (2, 'Book B', 'Author B'))
    cursor.execute("INSERT INTO borrowers (id, name, contact) VALUES (%s, %s, %s) ON DUPLICATE KEY UPDATE name = VALUES(name)",
                   (1, 'John Doe', '1234567890'))

    # 4. Borrow a book
    cursor.execute("UPDATE books SET available = FALSE WHERE id = %s AND available = TRUE", (1,))
    cursor.execute("INSERT INTO transactions (borrower_id, book_id, borrow_date) VALUES (%s, %s, %s)",
                   (1, 1, date.today()))

    # Commit changes
    conn.commit()

except mysql.connector.Error as err:
    print(f"Error: {err}")
    conn.rollback()

finally:
    # Close connection
    cursor.close()
    conn.close()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)

In [ ]:
pip install mysql-connector-python

In [ ]:
GRANT ALL PRIVILEGES ON *.* TO 'root'@'localhost' IDENTIFIED BY '*M076@MySQL' WITH GRANT OPTION;
        FLUSH PRIVILEGES;

In [ ]:
import mysql.connector
from mysql.connector import Error

def check_connection():
    try:
        # Establish connection
        connection = mysql.connector.connect(
            host='localhost',  # Replace with your host, e.g., '127.0.0.1' or a remote IP
            user='root',  # Replace with your MySQL username
            password='*M076@MySQL#'  # Replace with your MySQL password
        )

        if connection.is_connected():
            print("Successfully connected to the MySQL database!")
            db_info = connection.get_server_info()
            print(f"MySQL Server version: {db_info}")
    except Error as e:
        print(f"Error connecting to MySQL: {e}")
    finally:
        if 'connection' in locals() and connection.is_connected():
            connection.close()
            print("MySQL connection is closed.")

# Call the function
check_connection()

Error connecting to MySQL: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)

In [7]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 60.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp310-cp310-linux_x86_64.whl size=247948 sha256=eb8848e435580c2d6b925db87fb1f5304c253eb9abfe26c98c0415e295f8d7a1
  Stored in directory: /root/.cache/pip/wheels/76/48/9b/da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [8]:
import mysql.connector

# Establish connection
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='*M076@MySQL#',
    database='School'
    )

print(f"Connection is successful{connection}")

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (111 Connection refused)