In [ ]:
MySQL:
    1. Create a table attribute dataset and dress dataset
    2. Do a bulk load for these two table for respective dataset
    3. read these dataset in Pandas as a dataframe
    4. Convert attribute dataset in json format
    5. Store this dataset into mongodb
    6. In SQL task, try to perform left join operation with attribute dataset and dress dataset on column Dress ID
    7. Write a SQL query to find out how many unique dress that we have based on dress id
    8. Try to find out how many dress id is having recommendation 0
    9. Try to find out total dress sell for individual dress id
    10. Try to find out a third highest most selling dress id