1. **Number of rows = Number of times the outer loop will run**:  
   This outer loop determines how many lines (or rows) the pattern will have. For example, if you want to print 5 rows, the outer loop will run 5 times.

2. **Number of columns = Number of times the inner loop will run**:  
   The inner loop is responsible for printing the content of each row. The number of columns in each row depends on the pattern you want to print. For instance, if you want each row to have 5 columns (like 5 stars `*`), the inner loop runs 5 times per row.

3. **The pattern = What you want to print**:  
   The actual content being printed (like stars `*`, numbers, or characters) is decided inside the inner loop.

### Example:
To print a simple pattern like:

```
*****
*****
*****
*****
*****
```

Here:
- **Number of rows**: 5 → outer loop runs 5 times
- **Number of columns**: 5 → inner loop runs 5 times per row
- **Pattern**: `*`

### Code Example in Python:

```python
rows = 5
columns = 5

for i in range(rows):          # Outer loop for rows
    for j in range(columns):   # Inner loop for columns
        print("*", end="")     # Print * without a new line
    print()                    # Move to the next line after each row
```

In [2]:
#  1. To print given number of *s in a row

'''
* * * * *
'''

'''# 1st solution
n = int(input(f"Enter no of *'s in a row: "))

print('* '*n)
'''

# 2nd solution
n = int(input(f"Enter no of *'s in a row: "))
for i in range(n):
    print('*', end = ' ')

Enter no of *'s in a row: 4
* * * * *

In [16]:
#  2. To print square pattern with * symbols

'''
* * * *
* * * *
* * * *
* * * *
'''
n = int(input(f"Enter value of rows, you want to see: "))

'''for i in range(n):
    print('* '*n)
'''

for i in range(n):
    for j in range(n):
        print('* ', end = '')
    print()

Enter value of rows, you want to see: 4
* * * *
* * * *
* * * *
* * * *

In [6]:
#  3. Square pattern with provided fixed digit

'''
4 4 4 4
4 4 4 4
4 4 4 4
4 4 4 4
'''
n = int(input(f"Enter number of rows: "))

for i in range(n):
    print((str(n)+ ' ' )*n)

Enter number of rows: 4
4 4 4 4
4 4 4 4
4 4 4 4
4 4 4 4

In [7]:
# 4. Square pattern with provided fixed digit in every row:

'''
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4
'''
n = int(input(f"Enter number of rows: "))

for i in range(n):
    print((str(i+1) + ' ')*n)

Enter number of rows: 4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [8]:
# 5. To print square pattern with fixed alphabet symbol
'''
A A A A
A A A A
A A A A
A A A A
'''
n = int(input(f"Enter number of rows: "))

for i in range(n):
    print('A '*n)

Enter number of rows: 4
A A A A
A A A A
A A A A
A A A A

In [9]:
# 6. Right Angle Triangle pattern with fixed alphabet symbol
'''
A
B B
C C C
D D D D
'''
n = int(input(f"Enter number of rows: "))

for i in range(n):
    print((chr(65+i) + ' ')*(i+1))

Enter number of rows: 4
A
B B
C C C
D D D D

In [10]:
# 7. Inverted Right Angle Triangle pattern with * symbols

'''
* * * *
* * *
* *
*
'''
n = int(input(f"Enter number of rows: "))

for i in range(n):
    print('* '*(n-i))

Enter number of rows: 4
* * * *
* * *
* *
*

In [11]:
# 8. Inverted Right Angle Triangle pattern with digits

'''
1 2 3 4
1 2 3
1 2
1
'''
n = int(input(f"Enter number of rows: "))

for i in range(n):
    for j in range(n-i):
        print(j+1, end = ' ')
    print()

Enter number of rows: 4
1 2 3 4
1 2 3
1 2
1

In [12]:
# 9. To print Pyramid pattern with fixed digit in every row
'''
   1
  2 2
 3 3 3
4 4 4 4
'''

n = int(input(f"Enter no of rows: "))

for i in range(n):
    print(' '*(n-i-1) + (str(i+1) + ' ')*(i+1))

Enter no of rows: 4
   1
  2 2
 3 3 3
4 4 4 4

In [13]:
# 10. Pyramid pattern with alphabet symbols in reverse of dictionary order

'''
   D
  D C
 D C B
D C B A
'''

n = int(input(f"Enter no of rows: "))

for i in range(n):
    print(' '*(n-i-1),end = '')
    for j in range(i+1):
        print(chr(64+n-j), end = ' ')
    print()

Enter no of rows: 4
   D
  D C
 D C B
D C B A

In [14]:
# 11. Right Half Diamond Pattern with alphabet symbols in dictionary order

'''
A
A B
A B C
A B C D
A B C
A B
A
'''

n = int(input(f"Enter no of rows: "))

for i in range(n):
    for j in range(i+1):
        print(chr(65+j), end = ' ')
    print()
for i in range(n-1):
    for j in range(n-i-1):
        print(chr(65+j), end = ' ')
    print()

Enter no of rows: 4
A
A B
A B C
A B C D
A B C
A B
A

In [5]:
# 12. To print Inverted Pyramid Pattern with alphabet symbols in dictionary order

'''
A B C D
 A B C
  A B
   A
'''
n = int(input(f"Enter number of rows: "))

for i in range(n):
    print(' '*i, end = '')
    for j in range(n-i):
        print(chr(65+j), end = ' ')
    print()

Enter number of rows: 4
A B C D
 A B C
  A B
   A

In [18]:
# 13. To print Diamond Pattern with * symbols

'''
   *
  * *
 * * *
* * * *
 * * *
  * *
   *
'''

n = int(input(f"Enter number of rows: "))

# Handling top half of the pattern
for i in range(n):
    print(' '*(n-i-1) + '* '*(i+1))

# Handling bottom half of the pattern
for i in range(n-1):
    print(' '*(i+1)+ '* '*(n-i-1))

Enter number of rows: 4
   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [22]:
14. # To print Right Half Diamond Pattern with * symbols

'''
Enter number of rows: 4
*
* *
* * *
* * * *
* * *
* *
*
'''

n = int(input(f"Enter number of rows: "))

# Handling first right angle trianle ( Including middle row )
for i in range(n):
    print('* '*(i+1), end = '')
    print()

# Handling inverted right angle triangle
for i in range(n-1):
    print('* '*(n-i-1), end = '')
    print()

Enter number of rows: 4
*
* *
* * *
* * * *
* * *
* *
*

In [26]:
# 15. To print Left Half Diamond Pattern with * symbols
'''
      *
    * *
  * * *
* * * *
  * * *
    * *
      *
'''

n = int(input(f"Enter number of rows: "))

# Handling left-sided right angle trianle  ( Including middle row )
for i in range(n):
    print('  '*(n-i-1) + '* '*(i+1))

# Handling left-sided inverted right angle triangle
for i in range(n-1):
    print('  '*(i+1) + '* '*(n-i-1))

Enter number of rows: 4
      *
    * *
  * * *
* * * *
  * * *
    * *
      *

In [21]:
# To print Top Half Hallow Diamond Pattern with * symbols

n = int(input(f"Enter number of rows: "))

for i in range(n):
    print('  '*(n-i-1) + '* ', end = '')
    if i >= 1:
        print('  '*(2*i-1) + '*', end = '')
    print()

Enter number of rows: 4
      *
    *   *
  *       *
*           *

In [23]:
# o print Bottom Half Hallow Diamond Pattern with * symbols

n = int(input(f"Enter number of rows: "))

for i in range(n):
    print('  '*i + '* ', end = '')
    if i != (n-1):
        print('  '*(2*n-2*i-3) + '*', end = '')
    print()

Enter number of rows: 4
*           *
  *       *
    *   *
      *

In [36]:
# To print Hallow Diamond Pattern with * symbols

'''
        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *
'''

# Top Half of Hollow Diamond
n = int(input(f"Enter number of rows: "))

for i in range(n):
    print('  '*(n-i-1) + '* ', end = '')
    if i >= 1:
        print('  '*(2*i-1) + '*', end = '')
    print()


# Bottom Half of Hollow Diamond
for i in range(n-1):
    print('  '*(i+1) + '* ', end = '')
    if i != (n-2):
        print('  '*(2*(n-i-2)-1) + '*', end = '')
    print()

Enter number of rows: 5
        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

In [1]:
# To print Bottom Half Hollw Diamond Pattern with aplhabet symbols in reverse

'''
A          A
  B      B
    C  C
      D
'''
n = int(input(f"Enter number of rows: "))

for i in range(n):
    print('  '*i + chr(65+i), end = '')
    if i != (n-1):
        print('  '*(2*n-2*i-3) + chr(65+i), end = '')
    print()

Enter number of rows: 4
A          A
  B      B
    C  C
      D

In [16]:
# To print Left Half Diamond Pattern with digits in ascending order
'''
      1
    1 2
  1 2 3
1 2 3 4
  1 2 3
    1 2
      1
'''
n = int(input(f"Enter number of rows: "))

# Handling for top half(including middle rows)
for i in range(n):
    print('  '*(n-i-1), end = '')
    for j in range(i+1):
        print(j+1, end = ' ')
    print()
# Handling bottom half
for i in range(n-1):
    print('  '*(i+1), end = '')
    for j in range(n-i-1):
        print(j+1, end = ' ')
    print()

Enter number of rows: 4
      1
    1 2
  1 2 3
1 2 3 4
  1 2 3
    1 2
      1